@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
    --default-font-family: 'Playfair Display', serif;
    --color-primary: #0D9488;
}

:root {
    --color-primary: #0D9488;
}

::-webkit-scrollbar{
    @apply hidden
}

*{
    font-family: 'Playfair Display', serif;
}