@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
    --default-font-family: 'Playfair Display', serif;
    --color-primary: #0D9488;
}

:root {
    --color-primary: #0D9488;
}

body {
    font-family: 'Playfair Display', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: #1e293b;
    background-color: #ffffff;
}

* {
    font-family: 'Playfair Display', serif;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #0D9488;
    color: #ffffff;
}

.active hr{
    @apply block;
}

::-webkit-scrollbar{
    @apply hidden;
}